Resources:
  InternalLoadBalancer :
    Type : AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
        Subnets: [ "subnet-c47ba6b2" , "subnet-a45fd399"   ]
        Listeners :
          - {LoadBalancerPort: 80, InstancePort: 80, Protocol: "HTTP", InstanceProtocol: "HTTP"}
        Scheme: "internal" 
  InternalSecurityGroup:
    Type : AWS::EC2::SecurityGroup
    Properties:
      GroupDescription : "ELB ingress group"
      SecurityGroupIngress:
        IpProtocol: tcp
        FromPort: 80
        ToPort: 80
        CidrIp: 172.31.0.0/16



  AWSEBLoadBalancer :
    Type : AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
        Subnets: [ "subnet-c47ba6b2" , "subnet-a45fd399"   ]


  AWSEBAutoScalingGroup:
    DependsOn: AWSEBBeanstalkMetadata
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LoadBalancerNames: ["Ref" : "AWSEBLoadBalancer"  , "Ref" : "InternalLoadBalancer" ]



option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-d32944b7

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-c47ba6b2,subnet-a45fd399
